{% extends 'base.html' %}
{% block title %} Let's Quiz | Welcome {% endblock title %}
{% block content %}
<!-- <div class="container my-4">
  <div class="jumbotron">

    <h2 class="text-center text-info">Congratulations!! You have successfully logged in.</h2>
    <h3 class="text-info text-center">Before you play the quiz, here are the rules</h3>

    <div class="row">

      <div class="card border-info mx-4 my-4">
        <div class="card-body text-info">
          <h4 class="card-title">Rules :</h4>
          <p class="card-text">
          <ul style="list-style:decimal;">
            <li>All questions are multiple choice question.</li>
            <li><span class="text-danger">Only one choice is correct.</span></li>
            <li>Every question carry equal marks i.e. <span class="text-danger">4 marks for each question.</span>
            </li>
            <li>Every question is displayed only once per user.</li>
            <li>Try to answer as quickly as you can.</li>
            <li>If you press refresh or go back to the previous page, there will be a new question for you and the
              question you were on will be counted as attempted.</li>
            <li>Questions are displayed randomly for every user.</li>
            <li>You will be told immediately whether your answer was correct or incorrect once you submit the answer.
            </li>
          </ul>
          </p>
          <a href="{% url 'quiz:play' %}" class="btn btn-info">Let's play</a>
        </div>
        <div class="card-footer">Rules last modified 08-April-2023</div>
      </div>
    </div>

  </div>
</div> -->

<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-4 text-info">ລະບົບຈັດການສອບເສັງອອນໄລຂອງພາກວິຊາວິສະວະກຳຄອມພິວເຕີ</h1>
    <!-- <p class="display-4 d-none d-sm-block">Test your skills and become a master.</p>
    <p class="lead">We organize quizzes on various topics.</p> -->

    {% if not request.user.is_active %}

    <!-- <p class="lead">Sign up if you haven't already and get access to millions of quizzes on the topic of your interest.</p> -->
    <!-- <p><strong> Start Your Journey Here:</strong></p> -->
    <a href="{% url 'quiz:register' %}" class="btn btn-lg btn-info mt-1"><i class="fa fa-user-plus"
        aria-hidden="true"></i> ລົງທະບຽນ</a>

    {% else %}
    <a href="{% url 'quiz:create-classroom' %}" class="btn btn-lg btn-info mt-1">ສ້າງຫ້ອງ</a>
    <a href="{% url 'quiz:leaderboard' %}" class="btn btn-lg btn-info mt-1">ຜົນຄະແນນຂອງນັກສືກສາ</a>
    {% endif %}
  </div>
</section>

{% endblock content %}